{eunit_opts, [verbose]}.
{so_name, "elog.so"}.
{port_sources, ["c_src/*.cc"]}.

{port_env, [
            {"CFLAGS", "$CFLAGS -Wall -O0 -g -fPIC"},
            {"CXXFLAGS", "$CXXFLAGS -Wall -O0 -g -fPIC"},
            {"DRV_CFLAGS", "$DRV_CFLAGS -O0 -g -Wall -D__XDEBUG__ -Ic_src/mario/output/include"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS -O0 -g -fPIC -Lc_src/mario/output/lib -lmario -lstdc++"}
            ]}.

{pre_hooks, [{'get-deps', "c_src/build_deps.sh get-deps"},
             {compile, "c_src/build_deps.sh"}]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
